<f:form action="update" name="landlord" object="{landlord}" >
<div class="modal-header" style="background:lightgreen">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
    <h4 class="modal-title" style="color:black">Edit Landlord</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <f:render partial="Landlord/FormFields" arguments="{landlord:landlord, agent:agent, projects:projects}" />
    </div>
</div>
<div class="modal-footer" style="background:lightgray">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <f:form.submit value="Update" class="btn btn-primary" />
</div>
</f:form>
