
<label for="pdate">
	<f:translate key="tx_armconstructions_domain_model_income.pdate" />
</label><br />
	<f:form.textfield property="pdate"  value="{income.pdate->f:format.date()}" /><br />
<label for="amount">
	<f:translate key="tx_armconstructions_domain_model_income.amount" />
</label><br />
	<f:form.textfield property="amount" /><br />
<label for="mode">
	<f:translate key="tx_armconstructions_domain_model_income.mode" />
</label><br />
	<f:form.textfield property="mode" /><br />
<label for="instrumentno">
	<f:translate key="tx_armconstructions_domain_model_income.instrumentno" />
</label><br />
	<f:form.textfield property="instrumentno" /><br />
<label for="particular">
	<f:translate key="tx_armconstructions_domain_model_income.particular" />
</label><br />
	<f:form.textfield property="particular" /><br />