
<label for="name">
	<f:translate key="tx_armconstructions_domain_model_material.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="rate">
	<f:translate key="tx_armconstructions_domain_model_material.rate" />
</label><br />
	<f:form.textfield property="rate" /><br />
<label for="qty">
	<f:translate key="tx_armconstructions_domain_model_material.qty" />
</label><br />
	<f:form.textfield property="qty" /><br />
<label for="amount">
	<f:translate key="tx_armconstructions_domain_model_material.amount" />
</label><br />
	<f:form.textfield property="amount" /><br />
<label for="transport">
	<f:translate key="tx_armconstructions_domain_model_material.transport" />
</label><br />
	<f:form.textfield property="transport" /><br />
<label for="misc">
	<f:translate key="tx_armconstructions_domain_model_material.misc" />
</label><br />
	<f:form.textfield property="misc" /><br />
<label for="sdate">
	<f:translate key="tx_armconstructions_domain_model_material.sdate" />
</label><br />
	<f:form.textfield property="sdate"  value="{material.sdate->f:format.date()}" /><br />