<div class="modal-header" style="background:lightgreen">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
    <h4 class="modal-title" style="color:black">{project.name}: A/C of {supplier.name}</h4>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6"><strong>Material Supplied: Rs. {totalmaterial}/-</strong><br>
                <f:if condition="{materials}">
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <td>Date</td>
                            <td>Particulars</td>
                            <td>Amount (Rs.)</td>
                        </tr>
                        <f:for each="{materials}" as="expense">
                            <tr>
                                <td><f:format.date format="d.m.Y">{expense.sdate}</f:format.date></td>
                                <td>{expense.name} [{expense.challan}]</td>
                                <td>{expense.amount}</td>
                            </tr>
                        </f:for>
                        <tr>
                            <th colspan="2" class="text-right">Total</th>
                            <th>Rs. {totalmaterial}/-</th>
                        </tr>
                    </table>
                    </div>
                </f:if>
            </div>
            <div class="col-sm-6"><strong>Payments: Rs. {totalpayment}/-</strong><br>
                <f:if condition="{payments}">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <td>Date</td>
                                <td>Voucher/Cheque</td>
                                <td>Mode</td>
                                <td>Amount (Rs.)</td>
                            </tr>
                            <f:for each="{payments}" as="payment">
                                <tr>
                                    <td><f:format.date format="d.m.Y">{payment.pdate}</f:format.date></td>
                                    <td>{payment.voucher} {payment.instrumentno}</td>
                                    <td><f:if condition="{payment.mode}"><f:then>Cheque</f:then><f:else>Cash</f:else></f:if></td>
                                    <td>{payment.amount}</td> 
                                </tr>
                            </f:for>
                            <tr>
                                <th colspan="2" class="text-right">Total</th>
                                <th colspan="2">Rs. {totalpayment}/-</th>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-right">Due</td>
                                <td colspan="2">Rs. {due}/-</td>
                            </tr>
                        </table>
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="background:lightgray">
    <f:link.action action="balance" pageUid="{settings.supplierList}" pluginName="Supplier" arguments="{supplier:supplier, project:project}" additionalParams="{type:'98'}" class="btn btn-default" target="_blank">Print</f:link.action> 
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>