{namespace t=Helhum\TyposcriptRendering\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
<div class="panel panel-default">
    <div class="panel-heading">
        <center>Suppliers</center>
    </div>
    <div class="panel-body">
       <f:flashMessages />
       <div class="text-right">
            <a href="{t:uri.ajaxAction(action: 'new', controller: 'Supplier', pluginName: 'Supplier')}" class="btn btn-circle btn-lg btn-primary ls-modal" data-toggle="modal" data-target="#modal-response" data-show="true"><i class="fa fa-plus"></i></a>
        </div>
       <br>
       <div class="table-responsive">
        <f:if condition="{suppliers}">
             <table  class="tx_billing table table-bordered table-hover table-striped" id="dtid">
             <thead>
                     <tr>
                         <th><f:translate key="tx_armconstructions_domain_model_supplier.name" /></th>
                         <th>Project</th>
                         <th>Phone</th>
                         <th><f:translate key="tx_armconstructions_domain_model_supplier.tag" /></th>
                         <th>Edit</th>
                         <th>Delete</th>
                     </tr>
             </thead>
             <tbody>

                     <f:for each="{suppliers}" as="supplier">
                         <tr>
                             <td>{supplier.name}</td>
                             <td>{supplier.project.name}</td>
                             <td>{supplier.phone}</td>
                             <td>{supplier.tag}</td>
                             <td class="text-center"><a href="{t:uri.ajaxAction(action: 'edit', controller: 'Supplier', pluginName: 'Supplier', arguments:'{supplier : supplier}')}" class="btn btn-sm btn-circle btn-info ls-modal" data-toggle="modal" data-target="#modal-response"><i class="fa fa-pencil"></i></a></td>
                             <td class="text-center"><a href="{t:uri.ajaxAction(action: 'predel', controller: 'Supplier', pluginName: 'Supplier', arguments:'{supplier : supplier}')}" class="btn btn-sm btn-circle btn-danger ls-modal" data-toggle="modal" data-target="#modal-response"><i class="fa fa-trash-o"></i></a></td>
                         </tr>
                     </f:for>
                     </tbody>
             </table>
        </f:if>
        </div>
    </div>
</div>
</f:section>