
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Payment</h1>

<f:flashMessages />

<table  class="tx_armconstructions" >
	<tr>
		<th><f:translate key="tx_armconstructions_domain_model_payment.pdate" /></th>
		<th><f:translate key="tx_armconstructions_domain_model_payment.amount" /></th>
		<th><f:translate key="tx_armconstructions_domain_model_payment.mode" /></th>
		<th><f:translate key="tx_armconstructions_domain_model_payment.instrumentno" /></th>
		<th><f:translate key="tx_armconstructions_domain_model_payment.payto" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{payments}" as="payment">
		<tr>
			<td><f:link.action action="show" arguments="{payment : payment}"> {payment.pdate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{payment : payment}"> {payment.amount}</f:link.action></td>
			<td><f:link.action action="show" arguments="{payment : payment}"> {payment.mode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{payment : payment}"> {payment.instrumentno}</f:link.action></td>
			<td><f:link.action action="show" arguments="{payment : payment}"> {payment.payto}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{payment : payment}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{payment : payment}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Payment</f:link.action>
</f:section>