<!-- Top Header and Navigation Column -->
<header>
    <div class="menu-grid">
        <div class="container">         
            <div class="row">
                <div class="col-sm-3 logo"><f:cObject typoscriptObjectPath="lib.logo" /></div>
                <div class="col-sm-9">
                    <h3>Construction Projects</h3>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                </button>
                              </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <f:cObject typoscriptObjectPath="lib.mainMenu" /> 
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>