<!-- Tablet and Mobile Menu Column -->
<div class="tabNav">
    <div class="nav-header"> 
        <a href="#menu" class="mobnav">&nbsp;</a>
        <f:cObject typoscriptObjectPath="lib.moblogo" />
    </div>
    <h2>Project Accounting</h2>
    <div id="menu">
        <f:cObject typoscriptObjectPath="lib.mobMenu" />
    </div>
</div>
<!-- End -->

<!-- Top Header and Navigation Column -->
<header>
    <div class="menu-grid">
        <div class="container">         
            <div class="row">
                <div class="col-sm-3 logo"><f:cObject typoscriptObjectPath="lib.logo" /></div>
                <div class="col-sm-9">
                    <h2>Project Accounting</h2>
                    <div class="navbar navbar-default w3_megamenu" role="navigation">
                        <div id="defaultmenu" class="navbar-collapse collapse">
                             <f:cObject typoscriptObjectPath="lib.mainMenu" />   
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>