{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="form-group row">
     <div class="col-xs-10">
        <div class="femanager_fieldset femanager_selfsms control-group">
                <label for="femanager_field_selfsms" class="control-label">
                        Additional SMS to self
                        <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'selfsms')}">
                                <span>*</span>
                        </f:if>
                </label>
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-share fa-fw"></i></span>
                   <label class="form-control">&nbsp;&nbsp;&nbsp;
                                <f:form.radio
                                                id="femanager_field_selfsms1"
                                                property="selfsms"
                                                value="1"
                                                checked="{user.selfsms} == 1"
                                                additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'selfsms')}" />
                                &nbsp;YES&nbsp;&nbsp;&nbsp;&nbsp;
                       
                                <f:form.radio
                                        id="femanager_field_selfsms0"
                                        property="selfsms"
                                        value="0"
                                        checked="{user.selfsms} == 0"
                                        additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'selfsms')}" />
                                &nbsp;NO
                        </label>
                </div>
        </div>
     </div>
</div>