{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="form-group row">
     <div class="col-xs-10">
<div class="femanager_fieldset femanager_smsbalance control-group">
	<label for="femanager_field_smsbalance" class="control-label">
		SMS Balance
	</label>
	<div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-archive fa-fw"></i></span>
            <input type="text" readonly="1" value="{user.smsbalance}" class="form-control" />
	</div>
</div>
     </div>
</div>