
<label for="pdate">
	<f:translate key="tx_armconstructions_domain_model_payment.pdate" />
</label><br />
	<f:form.textfield property="pdate"  value="{payment.pdate->f:format.date()}" /><br />
<label for="amount">
	<f:translate key="tx_armconstructions_domain_model_payment.amount" />
</label><br />
	<f:form.textfield property="amount" /><br />
<label for="mode">
	<f:translate key="tx_armconstructions_domain_model_payment.mode" />
</label><br />
	<f:form.textfield property="mode" /><br />
<label for="instrumentno">
	<f:translate key="tx_armconstructions_domain_model_payment.instrumentno" />
</label><br />
	<f:form.textfield property="instrumentno" /><br />
<label for="payto">
	<f:translate key="tx_armconstructions_domain_model_payment.payto" />
</label><br />
	<f:form.textfield property="payto" /><br />