{namespace t=Helhum\TyposcriptRendering\ViewHelpers}
{namespace arm=ARM\Armconstructions\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
<div class="panel panel-default">
        <div class="panel-heading">
            <center>Customers</center>
        </div>
        <div class="panel-body">
           <f:flashMessages />
           <div class="text-right">
                <a href="{t:uri.ajaxAction(action: 'new', controller: 'Client', pluginName: 'Client')}" class="btn btn-circle btn-lg btn-primary ls-modal" data-toggle="modal" data-target="#modal-response" data-show="true"><i class="fa fa-plus"></i></a>
            </div>
           <br>
           <div class="table-responsive">
               <f:if condition="{clients}">
                    <table  class="table table-bordered table-hover table-striped" id="dtid">
                     <thead>
                         <tr>
                             <th><f:translate key="tx_armconstructions_domain_model_client.name" /></th>
                             <th><f:translate key="tx_armconstructions_domain_model_client.phone" /></th>
                             <th><f:translate key="tx_armconstructions_domain_model_client.email" /></th>
                             <th><f:translate key="tx_armconstructions_domain_model_client.rate" /></th>
                             <th><f:translate key="tx_armconstructions_domain_model_client.addcost" /></th>
                             <th>Project</th>
                             <th>Edit</th>
                             <th>Delete</th>
                         </tr>
                     </thead>
                     <tbody>
                     <f:for each="{clients}" as="client">
                         <tr>
                             <td>{client.name}</td>
                             <td>{client.phone}</td>
                             <td>{client.email}</td>
                             <td>{client.rate}</td>
                             <td><a href="javascript:void(0);" data-toggle="tooltip" title="{client.note}" data-placement="right">{client.addcost}</a></td>
                             <td>{client.project.name}</td>
                             <td class="text-center"><a href="{t:uri.ajaxAction(action: 'edit', controller: 'Client', pluginName: 'Client', arguments:'{client : client}')}" class="btn btn-sm btn-circle btn-info ls-modal" data-toggle="modal" data-target="#modal-response"><i class="fa fa-pencil"></i></a></td>
                             <td class="text-center"><a href="{t:uri.ajaxAction(action: 'predel', controller: 'Client', pluginName: 'Client', arguments:'{client : client}')}" class="btn btn-sm btn-circle btn-danger ls-modal" data-toggle="modal" data-target="#modal-response"><i class="fa fa-trash-o"></i></a></td>
                         </tr>
                     </f:for>
                     </tbody>
                    </table>
               </f:if>
           </div>
        </div>
</div>
</f:section>