        <f:form pageUid="{settings.clientList}" action="create" name="client" object="{client}">
            <div class="modal-header" style="background:lightgreen">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="false">&times;</button>
            <h4 class="modal-title" style="color:black">New Customer</h4>
            </div>
        <div class="modal-body">
            <div class="container-fluid">
                <f:render partial="Client/FormFields" arguments="{agent:agent, projects:projects, project:project}" />
            </div>
        </div>
        <div class="modal-footer" style="background:lightgray">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <f:form.submit value="Add" class="btn btn-primary" />
        </div>
            <f:form.hidden name="returnpage" value="{returnpage}" />
            <f:form.hidden name="pageaction" value="{pageaction}" />
        </f:form>
